html,
body {
  padding: 0;
  margin: 0;
}

.app {
  text-align: center;
}

.app-logo {
  height: 10vmin;
  pointer-events: none;
}

.app-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

pre {
  font-size: 0.75em;
}

.app-link {
  color: rgb(12, 108, 242);
}
.title {
  font-weight: 700;
}
.title .title-icon {
  font-size: 12px;
  line-height: 32px;
  margin-left: 4px;
  vertical-align: middle;
  color: rgb(152, 161, 178);
}
.row-text {
  color: rgb(103, 113, 133);
  font-weight: 500;
  padding: 12px 0;
  border-bottom: 1px solid rgb(223, 227, 235);
  text-align: left;
}
.text-overflow {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}
.with-copy {
  max-width: calc(100% - 22px);
  vertical-align: top;
}
.tx-row {
  padding: 12px 0;
}
.tx-col-text {
  color: rgb(103, 113, 133);
  font-weight: 500;
  padding: 12px 0;
  text-align: left;
}
.col-right {
  text-align: right;
}
.amount-label {
  background: rgb(209, 240, 219);
  color: rgb(0, 135, 90);
  padding: 5px;
  border-radius: 4px;
}

.flex-bewteen {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-auto {
  flex: auto;
}
.flex-none {
  flex: 1;
}
